version: '3'
services:
  web:
    image: mattman240/menus
    build: .
    command: npm start
    ports:
      - "3500:3500"
    depends_on:
      - "mongo"
      - "redis"
  mongo:
    image: "mongo"
    ports:
      - "27017:27017"
  redis:
    image: "redis"
